.flex-container{
    display:flex;}
    
    form{ width:1150px;
        border: 1px #CFCFCF solid ;
        border-radius: 5px;
        
        
    }
    
    .titulo{
        border-bottom-style: 30px #CFCFCF solid;
        background-color:#F2ECEC;  
       height: 70px;
       display:flex;
       border:5px;
    }

       h1{position:relative;
          margin-bottom:7px;
          margin-left: 30px;
            }


       
     
     .warning{
        width:95%;
        height:25px;
        border: 2pxpx #F6ADAD;
        background-color: #F8D4D4;
        margin-left: 30px;
        margin-top:20px;
        margin-bottom: 30px;
        padding-bottom:40px;
        text-align: center;
        border-radius: 5px;
        color: #B6313F;
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
        font-weight: 800;
        display:flex;
    }
    h3{
        margin-top:20px;
        margin-left:20px;    
        position:relative;
    }
    .tarjeta{
        display:flex;
    }
    .cardinfo{
        margin-left:30px;
    }
    .cardnumber{
        font-weight: 400;
    }
    .cvc{
        margin-left: 50px;
    }
    input{
        height:30px;
        border-radius: 5px;
      
    }
    .amount{
        margin-left: 47px;
    }

    .informacionp{
        display:flex;
        margin-left: 30px;
    }
    
    .apellido{
        margin-left: 35px;
    }
    .direccion{
        display:flex;
        margin-left:30px;
    }

    .estado{
        margin-left: 35px;
    }
    .cpostal{
        margin-left: 35px;
    }
   
    select{

        height:35px;
        border-radius:5px;
        border: 2px solid;
        width:245px;
    }

    .ttarjetas{
        margin-left: 30px;
        
    }

    .Tarjetas{

    margin-left:30px;
    background-color: grey;
    border-radius: 5px;
    width:250px;
    height: 45px;px;
    display:flex;
    margin-top: 15px;
    }

    .mastercard{
        margin-left:20px;
        width:50px;
        height:30px;
        display:flex;
        margin-top:5px;
    }
    .visa{
       
        width:50px;
        height:30px;
        display:flex;
        margin-top:5px;
    }
    .dinersclub{
        width:50px;
        height:30px;
        display:flex;
        margin-top:5px;
    }
    .amex{
        width:50px;
        height:30px;
        display:flex;
        margin-top:5px;
    }

    i{
        margin-top:9px;
    }

    .fila3{
        display:flex;
      
    }
    .mensaje{
        margin-left:310px; 
        
        
    }
    small{
        
        color:grey;
    }
 
    .botones{
        border-bottom-style: 30px #CFCFCF solid;
        background-color:#F2ECEC;  
       height: 70px;
       border:5px;
    }

    .bot1{
        float:right;
        background-color:#3657FF;
        color:white;
        border-radius: 5px;
        width: 80px;
        height:40px;
        margin-top: 20px;
        margin-right: 15px;
    }
    .bot2{
        border-radius: 5px;
        width: 80px;
        height:40px;
        margin-top: 20px;
        float:right;
        margin-right: 5px;
        background-color: grey;
        color:white;

    }
  


    
    
  